:root {
    --bg-frame-color: #FFF;
    --bg-color: #4DDEB5;
    --accent-color: #FFAAAA;
    --accent-color-darker: color-mix(in srgb, rgba(0, 0, 0, 1) 20%, var(--accent-color) 80%);
    --accent-color-lighter: color-mix(in srgb, rgba(255,255,255, 1) 40%, var(--accent-color) 60%);

    --accent-border-width: 15px;

    --logo-image-src: url("https://i.pinimg.com/originals/fc/09/f4/fc09f4874b9bee7fd983129e3ff388a7.gif")
}

body {
    background-color: var(--bg-frame-color);
}

#app {
    margin: 20px;
    background-color: var(--bg-color);

    /*background-image: url('https://media.tenor.com/bx7hbOEm4gMAAAAj/sakura-leaves.gif');*/
}

.website-layout-grid {
    width: calc(100% - 60px);
    padding: 30px;
}

.query-module {
    max-height: 300px;
}

.query-module-input {
    border-top: var(--accent-border-width) solid var(--accent-color-darker);
    padding: 20px;
    background-color: var(--accent-color);
}

.query-module-input input, .query-module-input button {
    border: 0;
    background-color: var(--accent-color-lighter);
    padding-inline: 15px;
}

.query-module-input button {
    margin-left: calc( var(--accent-border-width) / 2);
}

.logo-module {
    display: none;
}

.logo-module-alternative {
    background-image: var(--logo-image-src);
    background-size: 60% auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100px;
}

.categories-module {
    gap: calc(2*var(--accent-border-width));
}

.category {
    background-color: var(--accent-color);
}

.category-sites {
    padding-top: calc( var(--accent-border-width)/3 );
}

.category-header {
    background-color: var(--accent-color-darker);
    padding: calc( var(--accent-border-width)/2 );
    padding-inline: calc( var(--accent-border-width)/6 );
}

.site {
    padding: calc( var(--accent-border-width)/6 );
}

.category-header-icon, .site-header-icon {
    padding-right: 5px;
}


@media (max-width: 768px) {
    #app {
        margin: 5px;
    }

    .website-layout-grid {
        width: calc(100% - calc( var(--accent-border-width)*4 ));
        padding: calc( var(--accent-border-width)*2 );
    }

    .query-module {
        height: calc(100% - calc( var(--accent-border-width)*2 ));
        padding: calc( var(--accent-border-width)*1 );
        padding-inline: 0;
    }

    .query-module-input {
        border-top: 10px solid var(--accent-color-darker);
        padding: 10px;
        background-color: var(--accent-color);
        margin-bottom: 30px;
    }

    .query-module-input input, .query-module-input button {
        padding-inline: 5px;
    }

    .query-module-input button {
        margin-left: 5px;
    }

    .logo-module-alternative {
        background-size: 100% auto;
    }

    .categories-module {
        gap: calc(2*var(--accent-border-width));
    }
}

@media (min-width: 768px) {
    .website-layout-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 20vh 150px auto;
        grid-template-areas:
            "logo"
            "query"
            "categories";
    }
}